{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "bazimazi/styles/style.css" %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="{% static "bazimazi/images/bazimazi-icon-3.png" %}" type="image/gif" sizes="16x16">

    <title>BaziMazi</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light navbar px-2">

      <a class="navbar-brand text-blue mr-0" href="{% url 'index' %}">BaziMazi</a>
      <form class="form-inline ml-3 mr-none d-none d-sm-none d-md-block mr-auto">
        <div class="mr-3">
          <button type="button" class="btn modal-btn pr-0" data-toggle="modal" data-target="#city-modal">
             <span id="city-btn">New York</span>
            <img src="{% static "bazimazi/images/dropdown.png" %}" class="modal-btn-img ml-1 mr-2" width="20" height="20" alt="">
          </button>
        </div>
      </form>
      <form class="form-inline d-block d-sm-block d-md-none mr-auto ml-2">
        <div class="ml-0">
          <button type="button" id="city-btn" class="btn modal-btn p-0 pl-2 ml-0" style="border:1px solid white;" data-toggle="modal" data-target="#city-modal">
             <span id="city-btn">New York</span>
            <img src="{% static "bazimazi/images/dropdown.png" %}" class="modal-btn-img " width="20" height="20" alt="">
          </button>
        </div>
      </form>
      <div class="modal fade bd-example-modal-xl" id="city-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Choose your state</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4 d-none d-sm-block">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-search" type="button"><img src="{% static "bazimazi/images/search.png" %}" width="20" height="20" alt=""></button>
                </div>
                <input type="text" class="form-control search-box" placeholder="Search a state..." aria-label="" aria-describedby="basic-addon1">
              </div>
              <br>
              <span class=" text-grey-dark">Most visited states:</span>
              <div class="d-md-flex flex-wrap mt-3">
                <button class="cities" value="{{state.name}}">California</button>
                <button class="cities" value="{{state.name}}">New Jersey</button>
                <button class="cities" value="{{state.name}}">Alaska</button>
                <button class="cities" value="{{state.name}}">Massachusetts</button>
                <button class="cities" value="{{state.name}}">New York</button>
                <button class="cities" value="{{state.name}}">Texas</button>
                <button class="cities" value="{{state.name}}">Indiana</button>
              </div>
              <br>
              <span class="text-grey-dark">All the states:</span>
              <div class="d-md-flex flex-wrap mt-3">
                {% for state in states %}
                  <button value="{{state.name}}" class="cities">{{state.name}}</button>
                {% endfor %}
              </div>
            </div>
            <div class="modal-body p-4 d-block d-sm-none">
              <input type="text" name="example" class="form-control" list="cities">
              <datalist id="cities">
                {% for state in states %}
                  <option value="{{state.name}}" class="cities"></option>
                {% endfor %}
              </datalist>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item navbar-links" href="{% url 'myads' %}">My ads</a>
          <a class="nav-item navbar-links" href="{% url 'chat' %}" target="_blank">Chat</a>
        </div>
      </div>

      <form class="form-inline mr-1">
        <a href="{% url 'publish_ad' %}"><button class="btn ad-btn px-2" type="button">Publish an ad</button></a>
      </form>

      <div class="dropdown d-block d-sm-block d-md-block d-lg-none">
        <a class="btn btn-sm ml-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'myads' %}">My ads</a>
          <a class="dropdown-item" href="{% url 'chat' %}" target="_blank">Chat</a>
        </div>
      </div>

    </nav>

    <div class="my-ads nav-my-ads mt-4">
      <a href="{% url 'myads' %}" class="navbar-links-my-ads px-1 px-sm-3">My ads</a>
      <a href="{% url 'saved_ads' %}" class="navbar-links-my-ads px-1 px-sm-3">Saved ads</a>
      <a href="{% url 'history' %}" class="navbar-links-my-ads active-my-ads px-1 px-sm-3">History</a>
    </div>

    <div class="main-body d-flex flex-row flex-wrap mt-5 ml-md-5" id="ad-content">



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

      var ads = {{ ads | safe }};
      var logged_in = {{ logged_in }};

      $(document).ready( function() {

        var history_ads = [];

        if (localStorage.getItem('history') == null){
          localStorage.setItem('history', JSON.stringify([]));
        }

        var history = JSON.parse(localStorage.getItem('history'));

        if (logged_in == true){
          for (ad of ads){

            if (history.includes(ad.title)){
              history_ads.push(ad);
            }

          }

          if (history_ads.length > 0){
            for (ad of history_ads){

              var ad_title = ad.title
              var ad_price = ad.price
              var ad_image = ad.image

              var span1 = $("<span></span>").text(ad_title).addClass("ad-name p-2");
              var span2 = $("<span></span>").text("$" + parseFloat(ad_price)).addClass("ad-price p-2");

              if (ad_image == "None"){
                var image = $("<img />").attr({
                  height:120,
                  width:120,
                  src: "{% static 'bazimazi/images/no-image.png' %}"
                });
              }
              else{
                var image = $("<img />").attr({
                  height:120,
                  width:120,
                  src: ad_image
                });
              }

              var div = $("<div></div>")
              div.append(span1);
              div.append(span2);
              div.append(image);

              var link = $("<a></a>").addClass("ad").attr({
                href: ad.url,
                id:"ad_link",
                "data-title":ad_title
              });

              link.append(div);

              $("#ad-content").append(link);

            }
          }
          else{
            var span1 = $("<span></span>").text("You haven't seen any ads yet.").addClass("ml-5");
            $("#ad-content").append(span1);
          }
        }
        else{
          var span1 = $("<span></span>").text("You haven't seen any ads yet.").addClass("ml-5");
          $("#ad-content").append(span1);
        }

      });

    </script>

  </body>
</html>
