{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "bazimazi/styles/style.css" %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="{% static "bazimazi/images/bazimazi-icon-3.png" %}" type="image/gif" sizes="16x16">

    <title>BaziMazi</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light top-nav px-2">

      <a class="navbar-brand text-blue mr-0" href="{% url 'index' %}">BaziMazi</a>
      <form class="form-inline ml-3 mr-none d-none d-sm-none d-md-block mr-auto">
        <div class="mr-3">
          <button type="button" class="btn modal-btn pr-0" data-toggle="modal" data-target="#city-modal">
             <span id="city-btn">New York</span>
            <img src="{% static "bazimazi/images/dropdown.png" %}" class="modal-btn-img ml-1 mr-2" width="20" height="20" alt="">
          </button>
        </div>
      </form>
      <form class="form-inline d-block d-sm-block d-md-none mr-auto ml-2">
        <div class="ml-0">
          <button type="button" id="city-btn" class="btn modal-btn p-0 pl-2 ml-0" style="border:1px solid white;" data-toggle="modal" data-target="#city-modal">
             <span id="city-btn">New York</span>
            <img src="{% static "bazimazi/images/dropdown.png" %}" class="modal-btn-img " width="20" height="20" alt="">
          </button>
        </div>
      </form>
      <div class="modal fade bd-example-modal-xl" id="city-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Choose your state</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4 d-none d-sm-block">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-search" type="button"><img src="{% static "bazimazi/images/search.png" %}" width="20" height="20" alt=""></button>
                </div>
                <input type="text" class="form-control search-box" placeholder="Search a state..." aria-label="" aria-describedby="basic-addon1">
              </div>
              <br>
              <span class=" text-grey-dark">Most visited states:</span>
              <div class="d-md-flex flex-wrap mt-3">
                <button class="cities" value="{{state.name}}">California</button>
                <button class="cities" value="{{state.name}}">New Jersey</button>
                <button class="cities" value="{{state.name}}">Alaska</button>
                <button class="cities" value="{{state.name}}">Massachusetts</button>
                <button class="cities" value="{{state.name}}">New York</button>
                <button class="cities" value="{{state.name}}">Texas</button>
                <button class="cities" value="{{state.name}}">Indiana</button>
              </div>
              <br>
              <span class="text-grey-dark">All the states:</span>
              <div class="d-md-flex flex-wrap mt-3">
                {% for state in states %}
                  <button value="{{state.name}}" class="cities">{{state.name}}</button>
                {% endfor %}
              </div>
            </div>
            <div class="modal-body p-4 d-block d-sm-none">
              <input type="text" name="example" class="form-control" list="cities">
              <datalist id="cities">
                {% for state in states %}
                  <option value="{{state.name}}" class="cities"></option>
                {% endfor %}
              </datalist>
            </div>
          </div>
        </div>
      </div>


      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item navbar-links" href="{% url 'myads' %}">My ads</a>
          <a class="nav-item navbar-links" href="{% url 'chat' %}" target="_blank">Chat</a>
        </div>
      </div>

      <div class="dropdown d-block d-sm-block d-md-block d-lg-none">
        <a class="btn btn-sm ml-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'myads' %}">My ads</a>
          <a class="dropdown-item" href="{% url 'chat' %}" target="_blank">Chat</a>
        </div>
      </div>
    </nav>


    <form class="publish-ad container mb-3 mt-4 mb-5" action="{% url 'publish_db' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <p class="publish-ad-title ml-2">Publish an ad for free</p>
      <div class="change-cat px-5">
        <div class="">
          <span>{{category}}</span>
          <input type="hidden" name="category" value="{{category}}">
          <a href="{% url 'publish_ad' %}" class="link-no-un"><span class="float-right change-link">Change category</span></a>
        </div>
      </div>
      <div class="ad-info mt-3">
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" name="state" class="form-control mt-3" required>
            {% for state in states %}
              <option value="{{state.name}}">{{state.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-4 mt-5">
          <label for="exampleFormControlFile1">Ad's photo</label>
          <input type="file" name="image" class="form-control-file mt-3" id="exampleFormControlFile1">
        </div>
        <div class="ml-3 mt-5">
          Ad's type
        </div>
        <div class="form-check form-check-inline ml-3 mt-3">
          <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="Sell" required>
          <label class="form-check-label" for="inlineRadio1">Sell</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="Exchange" required>
          <label class="form-check-label" for="inlineRadio2">Exchange</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="Temporary exchange" required>
          <label class="form-check-label" for="inlineRadio3">Temporary Exchange</label>
        </div>
        <div class="form-group mt-5 ml-3">
          <label for="phone_number">Phone number</label>
          <input required type="text" name="phone_number" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group mt-5 ml-3">
          <label for="exampleInputEmail1">Price</label>
          <input required type="text" name="price" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group mt-5 ml-3">
          <label for="exampleInputEmail1">Ad's title</label>
          <input required type="text" name="title" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group mt-5 ml-3">
          <label for="exampleFormControlTextarea1">Ad's description</label>
          <textarea required class="form-control mt-3" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn ad-btn px-2 mt-5 ml-3" type="submit">Publish the ad</button>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
